.comment-widgets {
    position: relative;
    margin-bottom: 10px;
}

.ps-container {
    -ms-touch-action: auto;
    touch-action: auto;
    overflow: hidden!important;
    -ms-overflow-style: none;
}

.comment-widgets .comment-row {
    border-bottom: 1px solid rgba(120,130,140,.13);
    padding: 20px 25px;
    display: flex;
    margin: 10px 0;
}

.comment-text {
    padding-left: 15px;
    width: 100%;
}

