#side-menu > li:first-child {
    padding: 70px 0 0;
}

#side-menu .sidebar-item .sidebar-link > i {
    width: 32px;
    display: inline-block;
}
.sidebar-nav ul .sidebar-item .first-level {
    padding: 0 0 10px;
}

.sidebar-nav ul .sidebar-item .first-level .sidebar-item .sidebar-link {
    padding: 10px 15px;
}

.sidebar-nav ul li {
    list-style: none;
}

.sidebar-nav ul .sidebar-item .first-level .sidebar-item .sidebar-link {
    padding: 10px 15px;
}

.sidebar-nav ul .sidebar-item .first-level .sidebar-item.active > .sidebar-link {
    opacity: 1;
    font-weight: 500;
}

.sidebar-nav ul .sidebar-item {
    width: 250px;
    background: inherit;
}