.form-widget .box-title {
    float: left;
}

.form-widget .search {
    max-width: 300px;
}

.form-widget .el-element-overlay {
    clear: left;
    padding-top: 20px;
}

.form-widget .no-content {
    text-align: center;
}